<h1 class="page-header">TOP250</h1>
<div class="list-group"  style="margin-bottom: 0">
    <a href="{{item.alt}}" class="list-group-item" ng-repeat="item in dataList">
    	<span class="badge">{{item.rating.average}}</span>
        <div class="media" style="margin-top: 0;">
            <div class="media-left">
                <img class="media-object" ng-src="{{item.images.small}}" alt="item.title">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{item.title}}</h4>
                <p>导演：
					<span ng-repeat="d in item.directors">
						{{d.name}}
						<span ng-if="!$last">、</span>
					</span>
                </p>
                <p>类型：<span>{{item.genres.json('、')}}</span></p>
            </div>
        </div>
    </a>
</div>
<p>总共：{{totalCount}}条</p>
<div class="spinner" ng-show="loading">
  <div class="spinner-container container1">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container2">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
  <div class="spinner-container container3">
    <div class="circle1"></div>
    <div class="circle2"></div>
    <div class="circle3"></div>
    <div class="circle4"></div>
  </div>
</div>
